.buttonGroup {
  height: 40px;
  width: fit-content;
  min-width: 100px;
  font-size: 15px;
  line-height: 1;
}
.drop {
  display: inline;
  float: right;
}
.fa-paper-plane {
  color: #00afef;
}
thead i {
  color: #00afef;
}
.link {
  color: gray;
  text-decoration: underline;
}
.add {
  float: right;
}
